<h1>Hi!</h1>

{{#each dogs}}

<img src={{dog_picture}} alt="Dog">

<p>
    {{dog_name}}
    {{dog_breed}}
    {{dog_gender}}
    {{dog_size}}
    {{dog_age}}
    {{dog_vaccinations}}
    {{dog_neuter_spayed}}
    {{dog_temperment}}
    {{dog_notes}}
    {{preferred_days}}
    {{preferred_timeofday}}
    {{preferred_location}}

</p>

{{/each}}